body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url(bgimg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    margin: 0; 
    padding: 0;
}
h1,h2{
    background-color: white;
    text-align: center;
}
h1, h2, h3 {
    color: blue;
}

img {
    max-width: 50%;
    height: auto;
}

.lang1, .lang2, .lang3, .lang4, .lang5 {
    background-color: #fff;
    margin:100px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lang1 h3, .lang2 h3, .lang3 h3, .lang4 h3, .lang5 h3 {
    color: #007bff;
}

.lang1 ul, .lang2 ul, .lang3 ul, .lang4 ul, .lang5 ul {
    list-style: none;
    padding: 0;
}

.lang1 li, .lang2 li, .lang3 li, .lang4 li, .lang5 li {
    margin-bottom: 10px;
}

.lang1 a, .lang2 a, .lang3 a, .lang4 a, .lang5 a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.lang1 a:hover, .lang2 a:hover, .lang3 a:hover, .lang4 a:hover, .lang5 a:hover {
    text-decoration: underline;
}

.lang1 p, .lang2 p, .lang3 p, .lang4 p, .lang5 p {
    margin-top: 10px;
}

.lang1, .lang2, .lang3, .lang4, .lang5 {
    float: left;
    width: 48%; /* Adjust the width as needed */
}

@media (max-width: 768px) {
    .lang1, .lang2, .lang3, .lang4, .lang5 {
        width: 100%;
    }
}
